body {
    font-family: Arial, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    background-color: black;
    margin: 100px;
}
.main {
    background-color: #1e1e1e;
    width: 60%;
    height: 550px;
    margin: 0px auto;
    padding: 20px;

    float: left;
}
.title {
  color: orange;
    text-align: center;
    font-size: 16px;
    font-weight: bold;

}
.text {
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}
.login_form {
    padding-left: 50px;
    text-align: center;
}
.login_div {
    width: 350px;
    border:1px solid antiquewhite  ;
    margin: auto;
    padding: 10px;
}
.footer {
    color: white;
    height: 50px;
    text-align: center;
    margin: 50px;
}
.content {
    height: 300px;
}

.img_block1{
    background-color: #1e1e1e ;
    width:15%;
    height: 600px;
    margin-right: 20px;
    float: left;
}
.img_block2{
    background-color: #1e1e1e ;
    width: 15%;
    height: 600px;
    margin-left: 20px;
    float: left;
}

.wrap{
    display: inline-block;
    background-color: black;
}

